{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- Ionic Icons -->

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <nav>
        <div class="navbar">
            <div class="navbar-brand">Budget Tracker</div>
            <div class="user-profile">
                <a href="#">
                    <img src="{% static 'images/profile.webp' %}" alt="Sarah Johnson">
                    <span>Sarah Johnson</span>
                </a>
            </div>
        </div>
    </nav>

    <main>
        <section class="section-1">
            <div class="summary-cards">
                <div class="card">
                    <h1>total income</h1>
                    <span class="amount">1</span>
                </div>

                <div class="card">
                    <h1>total expence</h1>
                    <span class="amount">2</span>
                </div>

                <div class="card">
                    <h1>balance</h1>
                    <span class="amount">3</span>
                </div>
            </div>
        </section>

        <aside>
            <h2>Add Transactions</h2>
            <div class="add-transaction">
                <form action="{% url 'add' %}" method="POST">
                    {% csrf_token %}
                    <label for="">Title</label>
                    <input type="text" name="title" id="title" placeholder="title" required>
                    <label for="">Type</label>
                    <select name="type" id="type">
                        <option value="Expense">E</option>
                        <option value="Income">I</option>
                    </select>

                    <label for="">Amount</label>
                    <input type="number" name="amount" id="amount" placeholder="0.00" required>

                    <label for="">Category</label>
                    <select name="category" id="category">
                        <option value="Food & Dining">Food & Dining</option>
                        <option value="Transprotation">Transprotation</option>
                        <option value="Shopping">Shopping</option>
                        <option value="Entertainment">Entertainment</option>
                        <option value="bills & utilities">bills & utilities</option>
                        <option value="Healthcare">Healthcare</option>
                        <option value="salary">salary</option>
                        <option value="freelance">freelance</option>
                        <option value="Investment">Investment</option>
                        <!-- <option value=""></option> -->
                    </select>

                    <label for="">Date</label>
                    <input type="date" name="date" id="date" placeholder="Date" required>

                    <label for="">Description</label>
                    <textarea name="description" id="description" placeholder="Optional note..."></textarea>

                    <button type="submit">Add Transaction</button>
                </form>
            </div>
        </aside>

        <section class="section-2">
            <div class="transaction-lists">
                <h2>Recent Transactions</h2>
                <span>
                    <form action="{% url 'filter' %}" method="GET">
                        <select name="all_category" id="all_category" onchange="this.form.submit()">
                            <option value="All Category" {% if request.GET.all_category == 'All Category' %}selected{% endif %}>All Category</option>
                            <option value="Food & Dining" {% if request.GET.all_category == 'Food & Dining' %}selected{% endif %}>Food & Dining</option>
                            <option value="Transportation" {% if request.GET.all_category == 'Transportation' %}selected{% endif %}>Transportation</option>
                            <option value="Shopping" {% if request.GET.all_category == 'Shopping' %}selected{% endif %}>Shopping</option>
                            <option value="Entertainment" {% if request.GET.all_category == 'Entertainment' %}selected{% endif %}>Entertainment</option>
                            <option value="Bills & Utilities" {% if request.GET.all_category == 'Bills & Utilities' %}selected{% endif %}>Bills & Utilities</option>
                            <option value="Healthcare" {% if request.GET.all_category == 'Healthcare' %}selected{% endif %}>Healthcare</option>
                            <option value="Salary" {% if request.GET.all_category == 'Salary' %}selected{% endif %}>Salary</option>
                            <option value="Freelance" {% if request.GET.all_category == 'Freelance' %}selected{% endif %}>Freelance</option>
                            <option value="Investment" {% if request.GET.all_category == 'Investment' %}selected{% endif %}>Investment</option>
                        </select>
                    </form>
                </span>
                <span>
                    <form action="{% url 'filter' %}" method="GET">
                        <select name="all_month" id="all_dates" onchange="this.form.submit()">
                            <option value="All Dates" {% if request.GET.all_month == 'All Dates' %}selected{% endif %}>All Month</option>
                            <option value="This Year" {% if request.GET.all_month == 'This Year' %}selected{% endif %}>This Year</option>
                            <option value="This Month" {% if request.GET.all_month == 'This Month' %}selected{% endif %}>This Month</option>
                            <option value="Last Month" {% if request.GET.all_month == 'Last Month' %}selected{% endif %}>Last Month</option>
                            <option value="Last 3 Months" {% if request.GET.all_month == 'Last 3 Month' %}selected{% endif %}>Last 3 Months</option>
                        </select>
                    </form>
                </span>
            </div>


            {% if home %}
                {% for i in home %}
                <div class="transaction-item">
                    <h3>{{i.title}}</h3>
                    <span>{{i.category}}</span>
                    <span>{{i.amount}}</span>
                    <a href="{% url 'edit' i.id %}">Edit</a>
                    <a href="{% url 'delete' i.id %}">Delete</a>
                    <p>{{i.date}}</p>
                </div>
                    {% endfor %}
            {% else %}
            <p>No transactions found</p>
            {% endif %}

            <div class="transaction-item">
                {% for transaction in transactions %}
                    <h3>{{transaction.title}}</h3>
                    <span>{{transaction.category}}</span>
                    <span>{{transaction.date}}</span>
                    <a href="{% url 'edit' transaction.id %}"><ion-icon name="create-outline"></ion-icon></a>
                    <h4>${{transaction.amount}}</h4>
                    {% empty %}
                    <p>There is no trasaction found for the category</p>
                    {% endfor %}
            </div>

        </section>
    </main>
</body>

</html>