{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <div class="user-profile">
                <a href="#">
                    <img src="{% static 'images/profile.webp' %}" alt="profile-img">
                    <span><a href="#">default</a></span>
                </a>
            </div>
        </div>
    </nav>

    <main>
        <section class="section-1">
           <div class="summary-cards">
                <div class="card">
                    <h1>total income</h1>
                    <span class="amount">1</span>
                </div>

                <div class="card">
                    <h1>total expence</h1>
                    <span class="amount">2</span>
                </div>
                
                <div class="card">
                    <h1>balance</h1>
                    <span class="amount">3</span>
                </div>
            </div>
        </section>
        
        <aside>
            <h2>Add Transactions</h2>
            <div class="add-transaction">
                <form action="{% url 'add' %}" method="POST">
                    {% csrf_token %}
                    <label for="">Title</label>
                    <input type="text" name="title" id="title" placeholder="title" required>
                    <label for="">Type</label>
                    <select name="type" id="type">
                        <option value="Expense">E</option>
                        <option value="Income">I</option>
                    </select>
                    
                    <label for="">Amount</label>
                    <input type="number" name="amount" id="amount" placeholder="0.00" required>
                    
                    <label for="">Category</label>
                    <select name="category" id="category">
                        <option value="Food & Dining">Food & Dining</option>
                        <option value="Transprotation">Transprotation</option>
                        <option value="Shopping">Shopping</option>
                        <option value="Entertainment">Entertainment</option>
                        <option value="bills & utilities">bills & utilities</option>
                        <option value="Healthcare">Healthcare</option>
                        <option value="salary">salary</option>
                        <option value="freelance">freelance</option>
                        <option value="Investment">Investment</option>
                        <!-- <option value=""></option> -->
                    </select>
                    
                    <label for="">Date</label>
                    <input type="date" name="date" id="date" placeholder="Date" required>
                    
                    <label for="">Description</label>
                    <textarea name="description" id="description" placeholder="Optional note..."></textarea>
                    
                    <button type="submit">Add Transaction</button>
                </form>
            </div>
        </aside>
        
        <section class="section-2">
            <div class="transaction-lists">
                <h2>Recent Transactions</h2>
                <span>
                    <select name="all-category" id="all-category">
                        <option value="all-catogery">All Category</option>
                        <option value="Food & Dining">Food & Dining</option>
                        <option value="Transprotation">Transprotation</option>
                        <option value="Shopping">Shopping</option>
                        <option value="Entertainment">Entertainment</option>
                        <option value="bills & utilities">bills & utilities</option>
                        <option value="Healthcare">Healthcare</option>
                        <option value="salary">salary</option>
                        <option value="freelance">freelance</option>
                        <option value="Investment">Investment</option>
                    </select>
                </span>
                <span>
                    <select name="this-month" id="this-month">
                        <option value="This Month">This Month</option>
                        <option value="Last Month">Last Month</option>
                        <option value="Last 3 Months">Last 3 Months</option>
                        <option value="This Year">This Year</option>
                    </select>
                </span>
            </div>
           
            {% if home %}
                {% for i in home %}
                <div class="transaction-item">
                    <h3>{{i.title}}</h3>
                    <span>{{i.category}}</span>
                    <span>{{i.amount}}</span>
                    <a href="{% url 'edit' i.id %}">Edit</a>
                    <p>{{i.date}}</p>
                </div>
                    {% endfor %}
            {% else %}
                <p>No transactions found</p>
            {% endif %}
        </section>
    </main>
</body>
</html>